<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style-about.css" />
</head>

<body>
    <nav>
        <div class="left-section">
            <a href="/">Home</a>
        </div>
        <div class="right-section">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/works">Their works</a>
                </li>
                <li>
                    <a href="/photos">photos</a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <h1>The Beginning </h1>
        <div class="formation">
        <h2>Formation and early years 1987 - 1988</h2>
    </div>
        <div class="image1">
            <img src="/images/nirvana-early.jpeg">
        </div>

        <div class="text1">
        <p>Singer and guitarist Kurt Cobain and bassist Krist Novoselic met while attending Aberdeen High School in Washington state. <br>
            The pair became friends while frequenting the practice space of the Melvins. <br>
            Cobain wanted to form a band with Novoselic, but Novoselic did not respond for a long period. Cobain gave him a demo tape of his project Fecal Matter. <br>
            Three years after the two first met, Novoselic notified Cobain that he had finally listened to the Fecal Matter demo and suggested they start a group. <br>
             Their first band, the Sellouts, was a Creedence Clearwater Revival tribute band. <br>
            The project featured Novoselic on guitar and vocals, Cobain on drums, and Steve Newman on bass but only lasted a short time. <br>
            Another project, this time featuring originals, was also attempted in late 1986. Bob McFadden was enlisted to play drums, but after a month this project also fell through. <br>
            In early 1987, Cobain and Novoselic recruited drummer Aaron Burckhard. They practiced material from Cobain's Fecal Matter tape but started writing new material soon after forming.
        </p>
    </div>
    
    </header>
    <section>
        <div class="early">
        <h2>Early releases 1988 - 1990 </h2>
    </div>
    <div class="image2">
        <img src="/images/nirvana-scream.jpeg">
    </div>

        <div class="text2">
        <p>
            Nirvana released its first single, a cover of Shocking Blue's "Love Buzz", in November 1988 on the Seattle independent record label Sub Pop.<br>
            They did their first interview with John Robb in Sounds, which made their release its single of the week. The following month, the band began <br>
            recording its debut album, Bleach, with local producer Jack Endino 
            Bleach was influenced by the heavy dirge-rock of the Melvins, the 1980s punk rock of Mudhoney, and the 1970s heavy metal of Black Sabbath. <br>
            The money for the recording sessions for Bleach, listed as $606.17 on the album sleeve, was supplied by Jason Everman, who was subsequently brought into the band as the second guitarist.<br>
            Though Everman did not play on the album, he received a credit on Bleach because, according to Novoselic, they "wanted to make him feel more at home in the band". <br>
            Prior to the album's release, Nirvana became the first band to sign an extended contract with Sub Pop.<br>
        </p>
    </div>
        
        <div class="nevermind">
        <h2>Nevermind and mainstream breakthrough 1991 - 1992 </h2>
    </div>
        <div class="text3"></div>
        <p>
            Disenchanted with Sub Pop, and with the Smart Studios sessions generating interest, Nirvana sought a deal with a major record label since no indie label could buy them out of their contract. <br>
            Cobain and Novoselic consulted Soundgarden and Alice in Chains manager Susan Silver for advice. <br>
            They met Silver in Los Angeles and she introduced them to agent Don Muller and music business attorney Alan Mintz, who was specialized in finding deals for new bands. <br>
            Mintz started sending out Nirvana's demo tape to major labels looking for deals.Following repeated recommendations by Sonic Youth's Kim Gordon, Nirvana signed to DGC Records in 1990. <br>
            When Nirvana was inducted into the Rock and Roll Hall of Fame in 2014, Novoselic thanked Silver during his speech for "introducing them to the music industry properly"

        </p>
    </div>
       

    </section>
    <section>

    </section>

    
    

    <img src="/images/home-header.jpg">

</body>

</html>