<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirvana Fan Site | Homepage</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style-photos.css" />
</head>

<body>
    <nav>
        <div class="left-section">
            <a href="/">Home</a>
        </div>
        <div class="right-section">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/works">Their works</a>
                </li>
                <li>
                    <a href="/photos">Photos</a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <h1>Photo Gallery</h1>
    </header>
    <section>

        
        <img src="/images/gallery-unplugged.jpeg">
        <img src="/images/gallery-cobain.jpeg">
        <img src="/images/gallery-kurt-cobain.jpeg">
        <img src="/images/gallery-dark.jpeg">
        <img src="/images/gallery-logo.avif">
        <img src="/images/gallery-middlefinger.jpeg">
        <img src="/images/gallery-nirvana.webp">
        <img src="/images/gallery-sunglasses.webp">



    </section>
</body>

</html>