<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirvana Fan Site | Discography</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style-works.css" />
</head>

<body>
    <nav>
        <div class="left-section">
            <a href="/">Home</a>
        </div>
        <div class="right-section">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/works">Discography</a>
                </li>
                <li>
                    <a href="/photos">photos</a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <h2>Discography</h2>
    </header>
    <section>
        <h3>Bleach - 1989</h3>
        <div class="album">
            <img src="/images/discography-album-bleach.jpeg">
        </div>
        <div class="songs">
            <h4>songs</h4>
            <ul>
                <li>Blew</li>
                <li>Floyd the Barber</li>
                <li>About a Girl</li>
                <li>School</li>
                <li>Love Buzz</li>
                <li>Paper Cuts</li>
                <li>Negative Creep</li>
                <li>Scoff</li>
                <li>Swap Meet</li>
                <li>Mr. Moustache</li>
                <li>Sifting</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>Bleach is the debut studio album by American rock band Nirvana, released on June 15, 1989, by Sub Pop.
                After the release of their debut single "Love Buzz" on Sub Pop in November 1988, Nirvana rehearsed for
                two to three weeks in preparation for recording a full-length album. The main recording sessions for
                Bleach took place at Reciprocal Recording in Seattle, Washington between December 1988 and January 1989.
                It is the only Nirvana album released on the Sub Pop label and their only album to feature drummer Chad
                Channing.</p>
        </div>
    </section>
    <section>
        <h3>Nevermind - 1991</h3>
        <div class="album">
            <img src="/images/album-nevermind.jpg">
        </div>
        <div class="songs">
            <h4>songs</h4>
            <ul>
                <li>"Smells Like Teen Spirit"</li>
                <li>"In Bloom"</li>
                <li>"Come as You Are"</li>
                <li>"Breed"</li>
                <li>"Lithium"</li>
                <li>"Polly" </li>
                <li>"Territorial Pissings" </li>
                <li>"Drain You" </li>
                <li>"Lounge Act"</li>
                <li>"Stay Away"</li>
                <li>"On a Plain"</li>
                <li>"Something in the Way"</li>
                <li>"Endless, Nameless</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>Nevermind is the second studio album by the American rock band Nirvana, released on September 24, 1991,
                by DGC Records. It was Nirvana's first release on a major label and the first to feature drummer Dave
                Grohl. Produced by Butch Vig, Nevermind features a more polished, radio-friendly sound than the band's
                prior work.[4] It was recorded at Sound City Studios in Van Nuys, California, and Smart Studios in
                Madison, Wisconsin in May and June 1991, and mastered that August at the Mastering Lab in Hollywood,
                California.
            </p>
        </div>
    </section>
    <section>
        <h3>In Utero - 1993</h3>
        <div class="album">
            <img src="/images/discography-album-inUtero.jpeg">
        </div>
        <div class="songs">
            <h4>songs</h4>
            <ul>
                <li>"Serve the Servants"</li>
                <li>"Scentless Apprentice"</li>
                <li>"Heart-Shaped Box"</li>
                <li>"Rape Me"</li>
                <li>"Frances Farmer Will Have Her Revenge on Seattle"</li>
                <li>"Dumb"</li>
                <li>"Very Ape"</li>
                <li>"Milk It"</li>
                <li>"Pennyroyal Tea"</li>
                <li>"Radio Friendly Unit Shifter"</li>
                <li>"tourette's"</li>
                <li>"All Apologies"</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>In Utero is the third and final studio album by American rock band Nirvana. It was released on September
                21, 1993, by DGC Records. After breaking into the mainstream with their second album, Nevermind (1991),
                Nirvana hired Steve Albini to record In Utero, seeking a more complex, abrasive sound that was also
                reminiscent of their debut album, Bleach (1989). Although frontman and lyricist Kurt Cobain claimed that
                the album was “very impersonal”, many of its songs contain heavy allusions to his personal life and
                struggles, expressing feelings of angst that were common on Nevermind.
            </p>
        </div>
    </section>
    <section>
        <h3>MTV Unplugged in New York - 1994</h3>
        <div class="album">
            <img src="/images/discography-album_mtv_unplugged_in_new_york.png">
        </div>
        <div class="songs">
            <h4>songs</h4>
            <ul>
                <li>"About a Girl"</li>
                <li>"Come as You Are"</li>
                <li>"Jesus Doesn't Want Me for a Sunbeam"</li>
                <li>"The Man Who Sold the World"</li>
                <li>"Pennyroyal Tea"</li>
                <li>"Dumb"</li>
                <li>"Polly"</li>
                <li>"On a Plain"</li>
                <li>"Something in the Way"</li>
                <li>"Plateau"</li>
                <li>"Oh Me"</li>
                <li>"Lake of Fire"</li>
                <li>"All Apologies"</li>
                <li>"Where Did You Sleep Last Night"</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>MTV Unplugged in New York is a live album by American rock band Nirvana, released on November 1, 1994, by
                DGC Records. It features an acoustic performance recorded at Sony Music Studios in New York City on
                November 18, 1993, for the television series MTV Unplugged.
            </p>
        </div>
    </section>
    <section>
        <h3>From the Muddy Banks of the Wishkah - 1996</h3>
        <div class="album">
            <img src="/images/discography-album-FromTheMuddyBanksOfTheWishkah.jpg">
        </div>
        <div class="songs">
            <h4>songs</h4>
            <ul>
                <li> "Intro"</li>
                <li>"School"</li>
                <li>"Drain You"</li>
                <li>"Aneurysm"</li>
                <li>"Smells Like Teen Spirit"</li>
                <li>"Been a Son"</li>
                <li>"Lithium"</li>
                <li>"Sliver"</li>
                <li>"Spank Thru"</li>
                <li>"Scentless Apprentice"</li>
                <li>"Heart-Shaped Box"</li>
                <li>"Milk It"</li>
                <li>"Negative Creep"</li>
                <li>"Polly"</li>
                <li>"Breed"</li>
                <li>"Tourette's"</li>
                <li>"Blew" (recorded by VPRO-TV in Amsterdam, Netherlands, at Paradiso, November 25, 1991)</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>From the Muddy Banks of the Wishkah is a live album by American rock band Nirvana, released on October 1,
                1996. It features live performances recorded between 1989 and 1994.<br><br>

                The album debuted at number one on the Billboard 200, selling nearly 159,000 copies in its first week of
                release.[1] It spent 25 weeks on the chart and became the band's sixth platinum album in the US since
                1991.[2] It was ranked at number nine in Rolling Stone's 1997 critics' poll of the top 10 albums of
                1996.
            </p>
        </div>
    </section>
</body>

</html>