<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirvana Fan Site | Discography</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style-works.css" />
</head>
<body>
    <nav>
        <div class="left-section">
            <a href="/">Home</a>
        </div>
        <div class="right-section">
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/works">Their works</a>
                </li>
                <li>
                    <a href="/photos">photos</a>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <h1>Discography</h1>
    </header>
    <section>
        <h3>Nevermind - 1991</h3>
            <img src="/images/album-nevermind.jpg">
        <div class="songs">
            <h4>Best songs</h4>
            <ul>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>Few albums in the history of recorded music have had anywhere near the musical and cultural impact of Nevermind 
                <br>
                – an album nobody expected would change the world.</p>
        </div>
    </section>
    <section>
        <h3>Nevermind - 1991</h3>
            <img src="/images/album-nevermind.jpg">
        <div class="songs">
            <h4>Best songs</h4>
            <ul>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>Few albums in the history of recorded music have had anywhere near the musical and cultural impact of Nevermind 
                <br>
                – an album nobody expected would change the world.</p>
        </div>
    </section>
    <section>
        <h3>Nevermind - 1991</h3>
            <img src="/images/album-nevermind.jpg">
        <div class="songs">
            <h4>Best songs</h4>
            <ul>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>Few albums in the history of recorded music have had anywhere near the musical and cultural impact of Nevermind 
                <br>
                – an album nobody expected would change the world.</p>
        </div>
    </section>
    <section>
        <h3>Nevermind - 1991</h3>
            <img src="/images/album-nevermind.jpg">
        <div class="songs">
            <h4>Best songs</h4>
            <ul>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>Few albums in the history of recorded music have had anywhere near the musical and cultural impact of Nevermind 
                <br>
                – an album nobody expected would change the world.</p>
        </div>
    </section>
    <section>
        <h3>Nevermind - 1991</h3>
            <img src="/images/album-nevermind.jpg">
        <div class="songs">
            <h4>Best songs</h4>
            <ul>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>Few albums in the history of recorded music have had anywhere near the musical and cultural impact of Nevermind 
                <br>
                – an album nobody expected would change the world.</p>
        </div>
    </section>
    <section>
        <h3>Nevermind - 1991</h3>
            <img src="/images/album-nevermind.jpg">
        <div class="songs">
            <h4>Best songs</h4>
            <ul>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
                <li>song 1</li>
            </ul>
        </div>
        <div class="info">
            <h4>A few info</h4>
            <p>Few albums in the history of recorded music have had anywhere near the musical and cultural impact of Nevermind 
                <br>
                – an album nobody expected would change the world.</p>
        </div>
    </section>
</body>
</html>