
.formation {
    text-align: left;
    margin-left: 325px;
}

.image1 {
    float: left;
    margin-right: 20px
}

.text1 {
    text-align: left;
    margin-left: 20px;
    display: block;
    
}

.early {
    padding-top: 80px;
    text-align: right;
    margin-right: 325px;
}

.image2 {
    float: right;
    margin-left: 20px;
}

.text2 {
    text-align: right;
    margin-right: 20px;
    display: block;
    
}

.nevermind {
    padding-top: 120px;
    text-align: center;
    margin-left: 220px;
}

.text3 {
    text-align: center;
    display: block;
}